html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.fullscreen {
    position: relative;
    min-height: 100%;
}
div.button{
    line-height: 44px;
}
.button a{
    color: #fff;
    border: 2px solid #2e80e0;
    background-color: #2e80e0;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
.menu{
    position:absolute;
    border: 1px solid #b0b0b0;
    background-color: #b0b0b0;
    color: black;
    font-size: 12px;
    text-align: center;
}
a.lMenuHidden {
    position: absolute;
    top:0px;
    left:0px;
    width: 0px;
    height: 100%;
    z-index: 1;
}
#lMenuHandle:hover {
    cursor: pointer;
}
#bMenuHandle:hover {
    cursor: pointer;
}  
div.comment {
    background-color: #fff;
    padding:2px;
    border-style:solid;
    border-width:2px;
    border-color:#b0b0b0;
    text-align: left;
}
#map {
    width: 100%;
    height: 100%;
}
#lMenu {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
}
#lMenuHandle {
    bottom: 40px;
    left: 0px;
    width: 20px;
    height: 40px;
    text-decoration: none;
}
#bMenuHandle {
    bottom: 0px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-decoration: none;
}
#bMenu {
    left: 50%;
    width: 400px;
    margin-left: -200px;
    bottom: 0px;
    height: 0px
}