html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.button{
    line-height: 44px;
}
.button a{
    color: #fff;
    border: 2px solid #2e80e0;
    background-color: #2e80e0;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
div.fullscreen {
    position: relative;
    min-height: 100%;
}
div.fullscreen_menu {
    position: relative;
    min-height: 90%;
}

div.menu {
    background-color: #b0b0b0;
    position: relative;
    height: 100%;
}
a.googlecontrol:hover {
    cursor: pointer;
}  