body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
div.button{
    line-height: 44px;
}
.button a{
    color: #fff;
    border: 2px solid #2e80e0;
    background-color: #2e80e0;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
#map {
  height: 400px;
}

        
a.googlecontrol {
    position: fixed;
    bottom:0px;
    left:50%;
    margin-left: -100px;
    width: 200px;
    height: 100px;
    border: 1px solid #b0b0b0;
    background-color: #b0b0b0;
    opacity: 0.7;
    color: black;
    font-size: 12px;
    text-align: center;
    z-index: 1;
}
a.googlecontrol:hover {
    cursor: pointer;
}  