a.googlecontrol {
    position: absolute;
    bottom:0px;
    left:50%;
    margin-left: -100px;
    width: 200px;
    height: 100px;
    border: 1px solid #b0b0b0;
    background-color: #b0b0b0;
    opacity: 0.7;
    color: black;
    font-size: 12px;
    text-align: center;
    z-index: 1;
}