<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="http://mapstraction.com/mxn/build/latest/mxn.js?(openlayers)" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/d3.css' />
    <script>

    </script>
	</head>
	<body>
		<h1>Welcome to <%= title %></h1>
		<table>
            <tr>
                <td><a href='/register' onclick="">Register</a></td>
                <td><a href='/Login' onclick="">Login</a></td>
                <td><a href='/Pin' onclick="">Shortcut to Pin</a></td>
            </tr>
        </table>
	</body>
</html>
