<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://mapstraction.com/mxn/build/latest/mxn.js?(googlev3,[geocoder])" type="text/javascript"></script>
        <script src="/js/main.js"></script>
        <link rel='stylesheet' href='/stylesheets/normalize.css' />
        <link rel='stylesheet' href='/stylesheets/d3.css' />
	</head>
	<body>
        <div id="map" class='fullscreen'></div>
    <!-- Old menu
        <div id='lMenuArea'>
            <div id='lMenu' class='menu'></div>
            <a id='lMenuHandle' onclick='lMenuToggle(); return false;' href='#'>+</a>
        </div>
    -->
        
    <!-- New Mwnu -->
        <div id="left-menu-block">
            <div id="left-menu-content">
                <ul>
                    <li>Some Menu Item</li>
                    <li>Another menu Item</li>
                </ul>
            </div>
            <a id='left-menu-handle' onclick='lMenuToggle(); return false;' href='#'><span></span></a>
        </div>
        
        <div id='bMenuArea'>
            <a id='bMenuHandle' class='menu' onclick='bMenuToggle(); return false' href='#'>Comments</a> 
            <div id='bMenu' class='menu'>
                <div id="addComment">
                    <textarea id="newComment" rows="3"  placeholder="Add comment..." spellcheck="true" maxlength="140"></textarea>
                    <a id="submitComment" onclick='submitCommentClick(); return false;' href=#>Post</a>
                </div>
                <div id='comments'></div>
            </div>
        </div>
    </body>
</html>