<!DOCTYPE html>
<html>
	<head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://mapstraction.com/mxn/build/latest/mxn.js?(googlev3,[geocoder])" type="text/javascript"></script>
        <script src="/js/main.js"></script>
        <link rel='stylesheet' href='/stylesheets/normalize.css' />
        <link rel='stylesheet' href='/stylesheets/d3.css' />
	</head>
	<body class="pindrop">
        <div id='comments-block'>
            <a id='comments-handle' onclick='bMenuToggle(); return false' href='#'>Comments</a>
            <div id='comments-content'>
                <div class="comment-item" data-commentid="1">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="2">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="3">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="4">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="5">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="6">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="7">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="8">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="9">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="10">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="11">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="12">
                    <p>This is a comment. Lets fill this space up with some fake text. Lorem Ipsum and shit.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="13">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="14">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
                <div class="comment-item" data-commentid="15">
                    <p>This text is 140 characters. Bacon ipsum dolor sit lorem amet bresaola drumstick sausage ground round landjaeger, bacon pork loin meatballs.</p>
                    <div class="comment-options"><span>Options here...</span></div>
                </div>
            </div>
        </div>
        
        <div id="map" class='fullscreen'></div>
        <!-- <div id="addPinMenu">Click on Map to Add Pin</div> -->
        
        <div id="left-menu-block">
            <div id="left-menu-content">
                <ul>
                    <li>Some Menu Item</li>
                    <li>Another menu Item</li>
                </ul>
            </div>
            <a id='left-menu-pin' onclick='addPinToggle(); return false;' href='#'><span></span></a>
            <a id='left-menu-handle' onclick='lMenuToggle(); return false;' href='#'><span></span></a>
        </div>
    </body>
</html>